[project]
	description = Full documentation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Timur Nurlygayanov (TimurNurlygayanov)
[access "refs/for/refs/*"]
	read = group user/Timur Nurlygayanov (TimurNurlygayanov)
	push = group user/Timur Nurlygayanov (TimurNurlygayanov)
	label-Code-Review = -2..+2 group user/Timur Nurlygayanov (TimurNurlygayanov)
	label-Verified = -1..+1 group user/Timur Nurlygayanov (TimurNurlygayanov)
	rebase = group user/Timur Nurlygayanov (TimurNurlygayanov)
	removeReviewer = group user/Timur Nurlygayanov (TimurNurlygayanov)
	submit = group user/Timur Nurlygayanov (TimurNurlygayanov)
[access "refs/heads/*"]
	read = group user/Timur Nurlygayanov (TimurNurlygayanov)
	create = group user/Timur Nurlygayanov (TimurNurlygayanov)
	push = +force group user/Timur Nurlygayanov (TimurNurlygayanov)
	pushMerge = group user/Timur Nurlygayanov (TimurNurlygayanov)
[access "refs/tags/*"]
	push = +force group user/Timur Nurlygayanov (TimurNurlygayanov)
	pushTag = group user/Timur Nurlygayanov (TimurNurlygayanov)
	pushSignedTag = group user/Timur Nurlygayanov (TimurNurlygayanov)
