[project]
	description = Full documentation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group stepler-core
	owner = group user/Timur Nurlygayanov (TimurNurlygayanov)
[access "refs/for/refs/*"]
	read = group stepler-core
	read = group user/Timur Nurlygayanov (TimurNurlygayanov)
	push = group stepler-core
	push = group user/Timur Nurlygayanov (TimurNurlygayanov)
	label-Code-Review = -2..+2 group stepler-core
	label-Code-Review = -2..+2 group user/Timur Nurlygayanov (TimurNurlygayanov)
	label-Verified = -1..+1 group stepler-core
	label-Verified = -1..+1 group user/Timur Nurlygayanov (TimurNurlygayanov)
	rebase = group stepler-core
	rebase = group user/Timur Nurlygayanov (TimurNurlygayanov)
	removeReviewer = group stepler-core
	removeReviewer = group user/Timur Nurlygayanov (TimurNurlygayanov)
	submit = group stepler-core
	submit = group user/Timur Nurlygayanov (TimurNurlygayanov)
[access "refs/heads/*"]
	read = group stepler-core
	read = group user/Timur Nurlygayanov (TimurNurlygayanov)
	create = group stepler-core
	create = group user/Timur Nurlygayanov (TimurNurlygayanov)
	push = group stepler-core
	push = +force group user/Timur Nurlygayanov (TimurNurlygayanov)
	pushMerge = group stepler-core
	pushMerge = group user/Timur Nurlygayanov (TimurNurlygayanov)
[access "refs/tags/*"]
	push = group stepler-core
	push = +force group user/Timur Nurlygayanov (TimurNurlygayanov)
	pushTag = group stepler-core
	pushTag = group user/Timur Nurlygayanov (TimurNurlygayanov)
	pushSignedTag = group stepler-core
	pushSignedTag = group user/Timur Nurlygayanov (TimurNurlygayanov)
