# general
paramiko==2.1.1
pytest==3.0.4
pytest-xdist==1.15.0
python-cinderclient==1.9.0
python-glanceclient==2.5.0
python-heatclient==1.5.0
python-keystoneclient==3.5.0
python-muranoclient==0.11.0
python-neutronclient==6.0.0
python-novaclient==6.0.0
python-openstackclient==3.3.0
python-swiftclient==3.2.0
python-ironicclient==1.7.0
requests==2.11.1
six==1.10.0
waiting==1.3.0
subprocess32==3.2.7; python_version < '3.2' and os_name == 'posix'
functools32==3.2.3.post2; python_version < '3.2' and os_name == 'posix'
mock==2.0.0
pyaml==16.9.0
python-dateutil==2.5.3
prettytable==0.7.2
scapy==2.3.3; python_version < '3'
scapy-python3==0.20; python_version >= '3'
os-faults>=0.1.8,<0.2.0
pytest-timeout==1.2.0
pika==0.10.0
boto3==1.0.0
timeout_decorator==0.3.3
ipaddress==1.0.18; python_version < '3.3'
pytest-html==1.14.2

# ui testing
attrdict==2.0.0
PyHamcrest==1.9.0
python-pom==1.0.4
selenium==2.53.6
xvfbwrapper==0.2.8

# debug
ipdb==0.10.1
ipython==5.1.0

# doc
Sphinx==1.4.6
oslosphinx==4.7.0

# verification
tox==2.4.1
